<!-- templates/admin/reset_password.html -->

{% extends 'base.html' %}
{% block title %}Зміна паролю користувача{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Зміна паролю для користувача "{{ user.username }}"</h2>
    <form method="POST">
        <div class="form-group">
            <label>Новий пароль</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Змінити пароль</button>
        <a href="{{ url_for('admin.manage_users') }}" class="btn btn-secondary">Відмінити</a>
    </form>
</div>
{% endblock %}
